html {
  box-sizing: border-box;
}
*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  margin: 0;
}

ol,
ul {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
  width: 100%;
}

ul {
  height: 80vh;
  width: 100%;
  overflow-x: hidden;
  display: flex;
  margin: 0;
  padding: 0;
  scroll-snap-type: X mandatory;
  scroll-behavior: smooth;
}
ol {
  
  justify-content: center;
  margin-top: 5rem;
}

li {
  height: 100%;
  padding: 0.5rem;
  align-items: center;
  justify-content: center;
  display: flex;
  padding: 0.25rem;
  position: relative;
  scroll-snap-align: start;
  flex-shrink: 0;
}
ul li {
  background-color: rgb(68, 71, 114);
  font-size: 100px;
  flex: 1 0 100%;
  /*transition: transform 0.5s ease-in-out;
  transform: translateX(-100);*/
  scroll-snap-align: start;
}

ul li:nth-child(even) {
  background-color: rgb(1, 95, 1);
}

a {
  color: red;
  transition: color linear 0.5s;
}

a:hover {
  color: pink;
}
