* {
  margin: 0;
  padding: 0;
}

body {
  background: gray;
}

section {
  display: grid;
  background: #ffffff;
  margin: 50px;
  max-width: 112rem;
  padding: 5rem 2rem;
  width: 900%;
  text-align: center;
}

h1 {
  font-size: 2em;
  color: gray;
  font-weight: lighter;
}
h1 strong {
  color: black;
}
h2 {
  color: gray;
}

ul {
  display: grid;
  grid-template-columns: 1fr;
  list-style: none;
  margin: 0;
  padding: 0;
}

li {
  margin: 3.3rem;
}

image {
  max-width: 100%;
  width: auto;
}
