body {
  display: grid;
}

header {
  background-color: aquamarine;
  text-align: center;
  padding: 50px;
}
.features {
  display: inline-flex;
  text-align: center;
  justify-content: space-around;
  padding-block: 20px;
}
.feature1 {
  background-color: yellow;
}
.feature2 {
  background-color: blueviolet;
}
.feature3 {
  background-color: black;
}
section {
  background-color: brown;
  text-align: center;
  padding: 50px;
}
footer {
  background-color: violet;
  text-align: center;
  padding: 50px;
}
