/* Temel stillemeler */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: #333;
    color: #fff;
}

.logo {
    font-size: 24px;
}

.menu-icon {
    font-size: 24px;
    cursor: pointer;
}

.menu-checkbox {
    display: none;
}

.menu {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
}

.menu li {
    margin-right: 20px;
}

a {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
}

/* Ekran daraldığında hamburger menüyü görünür yapma */
@media screen and (max-width: 768px) {
    .menu {
        display: none;
        flex-direction: column;
        background-color: #333;
        position: absolute;
        top: 60px;
        left: 0;
        width: 100%;
        z-index: 1;
    }

    .menu-checkbox:checked + .menu {
        display: flex;
    }

    .menu-icon {
        display: block;
    }

    .menu-icon:hover {
        background-color: transparent;
    }
}
